<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>宿舍管理</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container clearfix">
        <div class="column-content-detail">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline tool-btn">
                        <button class="layui-btn layui-btn-sm layui-btn-normal addBtn" data-url="/room/create" data-text="添加宿舍"><i class="layui-icon">&#xe654;</i></button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal reloadBtn"><i class="layui-icon layui-icon-refresh"></i></button>
                    </div>
                    <div class="layui-inline">
                        <input value="@ViewBag.keyword" type="text" name="keyword" placeholder="宿舍名称或编号" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="search">搜索</button>
                </div>
            </form>
            <div class="layui-form" id="table-list">
                <div>总共：@ViewBag.count 条记录</div><table class="layui-table" lay-even lay-skin="nob">
                    <colgroup>
                        <col class="hidden-xs" width="50">
                        <col>
                        <col class="hidden-xs">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="hidden-xs" width="50">ID</th>
                            <th>名称</th>
                            <th class="hidden-xs">编号</th>
                            <th>园区</th>
                            <th>宿舍楼</th>
                            <th>人数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in ViewBag.rooms)
                        {
                            <tr>
                                <td class="hidden-xs" width="50">@b.Id</td>
                                <td>@b.Nickname</td>
                                <td class="hidden-xs">@b.Vid</td>
                                <td>@b.Dorm_Nickname</td>
                                <td>@b.PNickname</td>
                                <td>@b.Number</td>
                                <td>
                                    @if (b.Is_active)
                                    {
                                        <div class="layui-btn layui-btn-xs layui-btn-normal">正常</div>}
                                    else
                                    {
                                        <div class="layui-btn layui-btn-xs layui-btn-disabled">已注销</div>}
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-sm layui-btn-primary edit-btn" data-text="编辑：@b.Nickname" data-id="@b.Id" data-url="/room/edit"><i class="layui-icon">&#xe642;</i></button>
                                        <button class="layui-btn layui-btn-sm layui-btn-primary del-btn" data-id="@b.Id" data-url="/room/delete/@b.Id"><i class="layui-icon">&#xe640;</i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="page-wrap">
                    <ul class="pagination">
                        <li>
                            <span>
                                @if (ViewBag.page <= 1)
                                {
                                    <a disabled="disabled"><</a>
                                }
                                else
                                {
                                    <a href="?page=@(ViewBag.page - 1)&limit=@(ViewBag.limit)&keyword=@(ViewBag.keyword)"><</a>
                                }
                            </span>
                        </li>
                        <li>@ViewBag.page</li>
                        <li>
                            @if (ViewBag.count / ViewBag.page - 9 > 1)
                            {
                                <a href="?page=@(ViewBag.page + 1)&limit=@(ViewBag.limit)&keyword=@(ViewBag.keyword)"><span>></span></a>
                            }
                            else
                            {
                                <a disabled="disabled"><span>></span></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
</body>

</html>