@model sdglsys.Entity.TUser
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>修改系统角色</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container">
        <div class="layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-block">
                    <input disabled value="@Model.Login_name" maxlength="15" id='login_name' type="text" required lay-verify="required" placeholder="用来登录的名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-block">
                    <input value="@Model.Nickname" maxlength="15" id='nickname' type="text" required lay-verify="required" placeholder="姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型：</label>
                <div class="layui-input-block">
                    <select class="layui-select" id="role">
                        <option value="1">辅助登记员</option>
                        @if ((int) Session["role"] > 2)
                        {
                            <option value="2">宿舍管理员</option>
                            <option value="3">系统管理员</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属园区：</label>
                <div class="layui-input-block">
                    <select class="layui-select" id='pid' lay-search>
                        <option value="0">请选择所属园区</option>
                        @foreach (var dorm in ViewBag.dorms)
                        {
                            if (dorm.Id == Model.Pid)
                            {
                                <option selected value="@dorm.Id">@dorm.Nickname</option>
                            }
                            else
                            {
                                <option value="@dorm.Id">@dorm.Nickname</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话：</label>
                <div class="layui-input-block">
                    <input value="@Model.Phone" maxlength="11" id='phone' type="text" placeholder="联系电话" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea maxlength="255" id='note' placeholder="备注信息" autocomplete="off" class="layui-textarea">@Model.Note</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">激活：</label>
                <div class="layui-input-block">
                    @if ((bool) Model.Is_active)
                    {
                        <input id="is_active" type="checkbox" name="switch" lay-skin="switch" checked="checked"> }
                    else
                    {
                        <input id="is_active" type="checkbox" name="switch" lay-skin="switch">}
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
		layui.use(['form', 'jquery'], function() {
			var form = layui.form;
			var $ = layui.jquery;
			$("#role").find("option[value='" + (@Model.Role) + "']").prop("selected", true);
			form.render();
			//监听提交
			form.on('submit(formDemo)', function(data) {
				if($('#login_name').val().trim().length < 4) {
					layer.msg("用户名必须大于等于4个字符长度！");
					return false;
				}
				var params = {
					"id": @Model.Id,
					"login_name": $('#login_name').val(),
					"nickname": $('#nickname').val(),
					"role": $("#role").val(),
					"pid": $("#pid").val(),
					"phone": $("#phone").val(),
					"note" : $("#note").val(),
					"is_active": data.field['switch'] == "on" ? true : false,
                };
                $.ajax({
                    async: "false",
                    type: "post",
                    //dataType: "json",
                    //contentType: "application/json",
                    data: params,
                    url: "",
                    success: function (data) {data=JSON.parse(data);
                        layer.msg(data['msg'], {
                            'icon': data['code'] == 200 ? 1 : 0,
                        });
                    },
                    error: function (e) {
                        layer.open({
                            'icon': 0,
                            'title': "发生错误",
                            'content': "错误代码：" + e['status'] + "<br/>错误提示信息：" + e["statusText"]
                        });
                    }
                });
			});
		});
    </script>
</body>

</html>