<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登记使用记录</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container">
        <div class="layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">宿舍名称：</label>
                <div class="layui-input-block">
                    <select class="layui-select" id='pid' lay-filter='changeRoom' lay-search>
                        @if (ViewBag.rooms.Count<1) {
                        <option value="">没有相关宿舍</option>
                        }
                        @foreach(var room in ViewBag.rooms) {
                        <option value="@room.Id" dorm-id="@room.Dorm_id" building-id="@room.Pid">
                            @room.Vid | @room.Dorm_Nickname | @room.PNickname | @room.Nickname
                        </option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">冷水表读数：</label>
                <div class="layui-input-block">
                    <input maxlength="11" id='cold_water_value' type="text" placeholder="冷水表读数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">热水表读数：</label>
                <div class="layui-input-block">
                    <input maxlength="11" id='hot_water_value' type="text" placeholder="热水表读数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电表读数：</label>
                <div class="layui-input-block">
                    <input maxlength="11" id='electric_value' type="text" placeholder="电表读数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea maxlength="255" id='note' placeholder="备注信息" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
	layui.use(['form', 'jquery'],
		function() {
			var form = layui.form;
			var $ = layui.jquery;
			form.render();
			// 监听下拉列表
			form.on('select(changeRoom)', function(data) {
				var params = {
						"type": 'last_data',
						"pid": $("#pid").val(),
					}
				// 更新下拉列表
                $.ajax({
                    async: "false",
                    type: "post",
                    //dataType: "json",
                    //contentType: "application/json",
                    data: params,
                    url: "/used/last/",
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#cold_water_value").val(0);
                        $("#hot_water_value").val(0);
                        $("#electric_value").val(0);
                        if (data["content"] != null) {
                            $("#cold_water_value").attr('placeholder', "上期数值：" + data["content"]["Cold_water_value"]);
                            $("#hot_water_value").attr('placeholder', "上期数值：" + data["content"]["Hot_water_value"]);
                            $("#electric_value").attr('placeholder', "上期数值：" + data["content"]["Electric_value"]);
                            $("#cold_water_value").val(data["content"]["Cold_water_value"]);
                            $("#hot_water_value").val(data["content"]["Hot_water_value"]);
                            $("#electric_value").val(data["content"]["Electric_value"]);
                        } else {
                            $("#cold_water_value").attr('placeholder', "暂无数据");
                            $("#hot_water_value").attr('placeholder', "暂无数据");
                            $("#electric_value").attr('placeholder', "暂无数据");

                        }
                        form.render();
                        /*
                        data = JSON.parse(data);
                        layer.msg(data['msg'], {
                            'icon': data['code'] == 200 ? 1 : 0,
                        });*/
                    },
                    error: function (e) {
                        layer.open({
                            'icon': 0,
                            'title': "发生错误",
                            'content': "错误代码：" + e['status'] + "<br/>错误提示信息：" + e["statusText"]
                        });
                    }
                });
			}); //监听提交
			form.on('submit(formDemo)', function(data) {
				if($('#pid').val().trim().length < 1) {
					layer.msg("请先选择一个宿舍");
					return false;
				}
				if($("#cold_water_value").val().trim().length<1||$("#hot_water_value").val().trim().length<1||$("#electric_value").val().trim().length<1){
					layer.msg("读表数值不能为空");
					return;
                }
                var pid = $("#pid").val();
                var params = {
                        "dorm_id": $("#pid").find("option[value='" + pid + "']").attr("dorm-id"),
                        "building_id": $("#pid").find("option[value='" + pid + "']").attr("building-id"),
                        "pid": pid,
						"cold_water_value": $("#cold_water_value").val(),
						"hot_water_value": $("#hot_water_value").val(),
						"electric_value": $("#electric_value").val(),
						"note": $("#note").val()
                }
                $.ajax({
                    async: "false",
                    type: "post",
                    //dataType: "json",
                    //contentType: "application/json",
                    data: params,
                    url: "/used/CreateUsedInfo/" + pid,
                    success: function (data) {data=JSON.parse(data);
                        layer.msg(data['msg'], {
                            'icon': data['code'] == 200 ? 1 : 0,
                        });
                    },
                    error: function (e) {
                        layer.open({
                            'icon': 0,
                            'title': "发生错误",
                            'content': "错误代码：" + e['status'] + "<br/>错误提示信息：" + e["statusText"]
                        });
                    }
                });
			});
		});
    </script>
</body>

</html>