<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>宿舍读表数值管理</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrap-container clearfix">
        <div class="column-content-detail">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline tool-btn">
                        <button class="layui-btn layui-btn-sm layui-btn-normal addBtn" data-url="/used/CreateUsedInfo" data-text="添加宿舍读表信息">
                            <i class="layui-icon">&#xe654;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal reloadBtn" title="点击刷新显示">
                            <i class="layui-icon layui-icon-refresh"></i>
                        </button>
                    </div>
                    <div class="layui-inline">
                        <input value="@ViewBag.keyword" type="text" name="keyword" placeholder="关键字" autocomplete="off"
                               class="layui-input">
                    </div>
                    <button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
                </div>
            </form>
            <div class="layui-form" id="table-list">
                <div>总共：@ViewBag.count 条记录</div><table class="layui-table" lay-even lay-skin="nob">
                    <colgroup>
                        <col class="hidden-xs">
                        <col>
                        <col class="hidden-xs">
                        @if ((int) Session["role"] > 2)
                        {
                            <col class="hidden-xs">}
                        <col>
                        <col>
                        <col>
                        <col class="hidden-xs">
                        @if ((int) Session["role"] > 1)
                        {
                            <col class="hidden-md">}
                        <col class="hidden-xs">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="hidden-xs">ID</th>
                            <th>宿舍名称</th>
                            <th class="hidden-xs">宿舍楼</th>
                            @if ((int) Session["role"] > 2)
                            {
                                <th class="hidden-xs">园区</th>}
                            <th>冷水用量</th>
                            <th>热水用量</th>
                            <th>电力用量</th>
                            <th class="hidden-xs">更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (sdglsys.Entity.VUsed_total used in ViewBag.useds)
                        {
                            <tr>
                                <td class="hidden-xs">@used.Id</td>
                                <td>@used.UT_Room_Nickname</td>
                                <td class="hidden-xs">@used.UT_Building_Nickname</td>
                                @if ((int) Session["role"] > 2)
                                {
                                    <td class="hidden-xs">@used.UT_Dorm_Nickname</td>}
                                @{
                                    var cold_water_value = Math.Round(used.UT_Cold_water_value, 2);
                                    var hot_water_value = Math.Round(used.UT_Hot_water_value, 2);
                                    var electric_value = Math.Round(used.UT_Electric_value, 2);
                                }
                                <td>@cold_water_value 吨</td>
                                <td>@hot_water_value 吨</td>
                                <td>@electric_value 千瓦时</td>
                                <td class="hidden-xs">@used.UT_Post_date</td>
                                <td>
                                    <div class="layui-btn-group">
                                        <button class="layui-btn layui-btn-sm layui-btn-primary edit-btn" data-id="@used.Id"
                                                data-url="/used/EditUsedInfo/@used.Id" data-text="修改用量信息">
                                            <i class="layui-icon">&#xe642;</i>
                                        </button>
                                        <button class="layui-btn layui-btn-sm layui-btn-primary del-usedinfo" data-id="@used.Id"
                                                data-url="/used/DeleteUsedInfo/@used.Id">
                                            <i class="layui-icon">&#xe640;</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>}
                    </tbody>
                </table>
                <div class="page-wrap">
                    <ul class="pagination">
                        <li>
                            @if (ViewBag.page <= 1)
                            {
                                <a disabled="disabled"><span><</span></a>
                            }
                            else
                            {
                                <a href="/used/UsedInfo?page=@(ViewBag.page - 1)&keyword=@(ViewBag.keyword)">
                                    <
                                </a>
                            }
                        </li>
                        <li>@ViewBag.page</li>
                        <li>
                            @if (ViewBag.count / ViewBag.page - 9 > 1)
                            {
                                <a href="/used/UsedInfo?page=@(ViewBag.page + 1)&keyword=@(ViewBag.keyword)"><span>></span></a>
                            }
                            else
                            {
                                <a disabled="disabled"><span>></span></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
</body>

</html>